# game rips
export2
GameAssets

# programs
DnSpy
AssetRipper

# private/unfinished mods
Warden
SceneLoadTest
Escape The Shatter

# offical GTTOD mod tools
Mod-Tools
Mod-Tools-main

# other (mostly build artifacts)
.git
.vs
bin
obj
packages
*.png