# game rips
export2
GameAssets
GameAssets - Copy
GameAssetsShaders
GameAssetsShaders - Copy
GameAssetsStatic

# programs
DnSpy
AssetRipper

# private/unfinished mods
Warden
SceneLoadTest
Escape The Shatter
GTTRD

# offical GTTOD mod tools
Mod-Tools
Mod-Tools-main
Mod-Tools-main - Copy

# other (mostly build artifacts)
.git
.vs
bin
obj
packages
*.png
FixPluginTypesSerialization-master